---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1> Hello, Astronaut!</h1>
			<h1><strong>Bienvenido al mundo de la generaci贸n de Se帽ales: Un Viaje Tecnol贸gico</strong></h1>
    <p>Bienvenido a este blog, donde exploraremos el fascinante mundo de la <strong>generaci贸n de se帽ales</strong> desde una perspectiva tecnol贸gica. A lo largo de nuestras publicaciones, descubriremos los diferentes tipos de generadores de se帽ales, c贸mo han evolucionado a lo largo del tiempo, y c贸mo se utilizan en diversas aplicaciones en la actualidad. 隆Adelante, sum茅rgete en el mundo de la generaci贸n de se帽ales y descubre c贸mo esta tecnolog铆a est谩 impulsando nuestra vida cotidiana!</p>
		</main>
		<Footer />
	</body>
</html>
